<div class="mat-elevation-z8 currency-rate-table">
    <table mat-table [dataSource]="currencyRateList" matSort>

        <ng-container matColumnDef="dollarRate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dollar Rate</th>
            <td mat-cell *matCellDef="let currencyRate"> {{currencyRate.dollarRate}} </td>
        </ng-container>

        <ng-container matColumnDef="euroRate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Euro Rate</th>
            <td mat-cell *matCellDef="let currencyRate"> {{currencyRate.euroRate}} </td>
        </ng-container>

        <ng-container matColumnDef="currencyRateDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate date</th>
            <td mat-cell *matCellDef="let currencyRate"> {{currencyRate.currencyRateDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row [ngClass]="{'make-gold': row.currencyRateDate == '30.11'}" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>